<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="org.angellock.impl.util.JLineAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss} %highlight(%4level)] [%logger{36}]: %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="WEB" class="org.angellock.impl.api.WebLogAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss} %highlight(%4level)] [%logger{36}]: %msg%n</pattern>
        </encoder>
    </appender>
    
    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="WEB" />
    </root>
</configuration>